{% extends "base.html" %}
{% load allauth i18n %}

{% block conteudo %}
<div class="div_centralizadora">
  <div class="centralizador">

    {% include 'parciais/_messages.html' %}
    {% include 'parciais/_erros_forms.html' %}

    <h1 class="titulo_estilizado">{% trans "Change Password" %}</h1>
    <form method="POST" action="{{ action_url }}">
      {% csrf_token %}
      <input class="input" type="password" name="oldpassword" placeholder="Senha Atual" autocomplete="current-password" required id="id_oldpassword">
      <input class="input" type="password" name="password1" placeholder="Nova Senha" autocomplete="new-password" required id="id_password1">
      <input class="input" type="password" name="password2" placeholder="Nova Senha (novamente)" required id="id_password2">
      <input id="check" type="checkbox" for="check" onclick="mostrar_senha()" >
      <label for="check" style="color: #e9e3e3;"><span class="icon"></span> Mostrar senha</label>
      <input type="submit" class="button btn btn-outline btn_roxo" value="Redefinir Senha">
    </form>
    <a href="{% url 'account_reset_password' %}">Esqueceu a Senha?</a>
  </div>
</div>  

<script>
  function mostrar_senha() {
    var x = document.getElementById("id_password1");
    var y = document.getElementById("id_password2");
    var z = document.getElementById("id_oldpassword");
    if (x.type === "password" && y.type === "password" && z.type === "password") {
      x.type = "text";
      y.type = "text";
      z.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
      z.type = "password";
    }
  }
</script>
{% endblock conteudo %}
