{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block conteudo %}
<div class="div_centralizadora">
  <div class="centralizador">

    {% include 'parciais/_messages.html' %}
    {% include 'parciais/_erros_forms.html' %}

    <h1 class="titulo_estilizado">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    <form method="POST">
      {% csrf_token %}
      {% if token_fail %}
        <p style="color: white; font-size: larger; text-align: start;">
          O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma <a style="color: #A62994; text-decoration: underline;" href="{% url 'account_reset_password' %}">nova redefinição de senha.</a>
        </p>
      {% else %}
        <input type="password" id="password1" name="password1" class="input" placeholder="Senha" required autofocus>
        <input type="password" id="password2" name="password2" class="input" placeholder="Confirme a Senha" required autofocus>
        <input id="check" type="checkbox" for="check" onclick="mostrar_senha()" >
        <label for="check" style="color: #ffffff;"><span class="icon"></span> Mostrar senha</label>

        <input type="submit" class="button btn btn-outline btn_roxo" value="Redefinir Senha">
      {% endif %}
    </form>
  </div>
</div>  

<script>
  function mostrar_senha() {
      var senha1 = document.getElementById("password1");
      var senha2 = document.getElementById("password2");
      if (senha1.type === "password") {
        senha1.type = "text";
      } else {
        senha1.type = "password";
      }
      if (senha2.type === "password") {
        senha2.type = "text";
      } else {
        senha2.type = "password";
      }
  }
</script>
{% endblock conteudo %}
