{% extends "base.html" %}
{% load i18n allauth account %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block conteudo %}
<div class="div_centralizadora">
  <div class="centralizador">

    {% include 'parciais/_messages.html' %}

    <h1 class="titulo_estilizado">{% trans "Password Reset" %}</h1>
    <p style="color: white; font-size: larger; text-align: start;">
      Nós enviamos um email para você. Se você não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos.
    </p>
  </div>
</div>  

{% endblock conteudo %}
