{% extends "base.html" %}
{% load i18n allauth account %}

{% block conteudo %}
<div class="div_centralizadora">
  <div class="centralizador">

    {% include 'parciais/_messages.html' %}
    {% include 'parciais/_erros_forms.html' %}

    <h1 class="titulo_estilizado">{% trans "Password Reset" %}</h1>
    <form method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}

      {% for field in form %}
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default:'' }}" class="input" placeholder="{{ field.label }}" required autofocus>
      {% endfor %}
      <input type="submit" class="button btn btn-outline btn_roxo" value="{% trans 'Reset My Password' %}">
    </form>
  </div>
</div>  
{% endblock conteudo %}
